@model ProjetoRumo.Models.Copa

@{
    ViewData["Title"] = "Deletar";
}

<h1>Deletar</h1>

<h3>Tem certeza que pretende deletar?</h3>
<div>
    <h4>Copa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BebidaEscolhida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BebidaEscolhida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CopaId" />
        <input type="submit" value="deletar" class="btn btn-danger" />

        <button type="button" class="btn btn-secondary">

            <a asp-action="Index">Voltar a Lista</a>
        </button>
    </form>
</div>
